*{
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    /* background-color: rgb(43, 83, 29); */
    background-image: linear-gradient(to bottom right, rgba(57, 109, 111, 0), rgb(21, 30, 65));
}
body, .text-input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    background-color: rgb(123, 189, 227);
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;    
    max-width: 100%;
}
.timer {
    position: absolute;
    top: 2rem;
    font-size: 5rem;
    color: rgb(232, 24, 24);
    
}

.text-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    font-size: 1.3rem;
}

.text-input {
    background-color: transparent;
    border: 1.5px solid grey;
    border-radius: .5rem;
    outline: none;
    width: 100%;
    height: 10rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1.3rem;
}

.text-input:focus {
    border-color: black;
}

.correct {
    color: rgb(66, 69, 66);
}
.incorrect {
    color: rgb(200, 15, 15);
    text-decoration: underline;
}